// Colors
$color-pink: #EF8F9C;
$color-pink-light: #FFEDF0;
$color-yellow-light: #FFF7B8;
$color-dark-red: #55000C;
$color-text: #333333;
$color-white: #FFFFFF;

// Fonts
$font-kosugi: 'Kosugi Maru', sans-serif;
$font-yusei: 'Yusei Magic', sans-serif;
$font-jost: 'Jost', sans-serif;

// Breakpoints
$bp-sp: 767px;
$bp-pc: 768px;
